
//When greater than 600px will start desktop view
$breakpoints: 600px;



$text-primary: rgb(172, 172, 172);
$text-secondary:white;
$bg-primary:#23232e;
$bg-secondary: #141418;
$default-margin: 5rem;
$nav-transition-speed1:  100ms;
$nav-transition-speed2:  10000ms;
$nav-bar-title-font: 'New Tegomin', serif;
$nav-bar-font: 'New Tegomin', serif;
$jumbotron-font: 'New Tegomin', serif;

